<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
               <!-- <h5>Hola {{currentUser.name}} {{currentUser.lastname}}</h5> -->
           </div>
         </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center" style="padding-top: 1%;">
        <br>
        <div class="col-md-10 col-sm-12">
            <div class="card">
                <div class="card-header header-tarjeta">Bienvenido a la administración de recibos</div>
                <div class="card-body body-tarjeta">
                  Aquí podrás ver las tareas relacionadas con los recibos.
                </div>
              </div>
        </div>
    </div>

    
</div>

</div>